.main {
    background-image: url("../img/bkgSpace.png"); /* Certifique-se que o caminho está correto */
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}


.main_hob {
    background-image: url("../img/bkgspace2.jpg"); /* Certifique-se que o caminho está correto */
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}


a{color: #fff;}

header {
    margin-top: 20px;
}

h1 {
    font-size: 2.5em;
}

.quote {
    margin: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 15px;
    font-size: 1.2em;
}

.contact {
    margin-top: 20px;
}

.contact p {
    margin: 10px 0;
}

.contact img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
