@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.Header__principal{
    margin: auto;
    gap: 5rem;
    background-image: url('../img/Banner_header.png');
    background-size: cover;
    width: 100%;
    height: 680px;
    z-index: -1;
}

.links__header{
    padding-top: 7rem;
    padding-left: 25rem;

    display: flex;
    justify-content: center;
    gap: 5rem;

    font-family: var(--fonte-titulo);

}

.link__botao__header{
    text-decoration: none;
}

.links__header__item{

    
    list-style-type: none;

    font-family: 'Lora', sans-serif;
    font-size: 20px;
    font-weight: 400;

}

.links__header__item__link{
    text-decoration: none;
    color: var(--cor-fonte-principal);
}

.links__header__item__link:hover{
    border-bottom: 2px solid;
    color: var(--cor-fonte-destaque);
}

.titulo__header{
    color: var(--cor-fonte-principal);
    margin-left: 40%;
    margin-top: 10%;
    font-family: var(--fonte-titulo);
}

.subtitulo__header{
    color: var(--cor-fonte-principal);
    margin-left: 40%;
    font-weight: 100;
    font-size: 20px;
}

.botoes__header{
    display: flex;
    justify-content: center;
    gap: 5rem;
    
    align-items: center;
    text-align: center;

    margin-top: 5%;
    margin-left: 15%;

}

.botao__header{
    font-family: 'Lora', sans-serif;
    font-size: 15px;
    color: var(--cor-fonte-principal);
    background-color: transparent;
    border: solid;
    border-color: var(--cor-de-seção);
    border-radius: 6px;
    
    width: 120px;
    padding: 15px;

}


/*

.Links__Header{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.link__Header{
    color: var(--cor-de-fundo);
    text-decoration: none;
    font-family: "Lora", sans-serif;
    font-weight: 500;

    background-color: #ffffff;
    border-radius: 5px;
    width: 240px;

    display: flex;
    align-items: center;      /* centraliza verticalmente */
    /*justify-content: center;  /* centraliza horizontalmente */

    /*gap: 0.5rem; /* espaço entre ícone e texto */
    /*padding: 8px; /* agora pode simplificar */
/*}
