img{
    margin-right: auto;
}

body{
    background-image: url('../img/background__alternativo.png');
}

.container__sobremim{
    display: flex;
}

.area__texto__sobremim{
    background-color: rgba(114, 3, 3, 0.863);
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    border: solid;
    border-color: gold;
}

.titulo__sobremim{

    text-align: center;
    
    font-family: var(--fonte-titulo);
    font-size: 25px;
}

.paragrafo__sobremim{

    font-family: var(--fonte-texto);
    font-weight: 900;
    font-size: 15px;

    text-align: justify;
    width: 100%;

    color: var(--cor-principal);

}

.subtitulo__sobremim{

    font-family: var(--fonte-titulo);
    font-size: 20px;
}

.lista__sobremim{

    font-family: var(--fonte-texto);

}

span{
    color: gold;
}