@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor--principal: #880606;
    --cor--secundaria: goldenrod;
    --cor--terciaria: whitesmoke;
}


body{
    background-color: var(--cor--principal);
    color: var(--cor--terciaria);
    box-sizing: border-box;
}


.cabecalho{
    padding: 2% 0 0 6%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor--secundaria);
    text-decoration: none;
    position: relative;
}

.cabecalho__menu__link::after {
    content: "";
    position: absolute;
    bottom: 0; /* Coloca a linha na parte inferior do link */
    left: 25%; /* Centraliza a linha */
    width: 50%; /* Define a linha para cobrir 50% da largura do link */
    height: 2px; /* Define a espessura da linha */
    background-color: var(--cor--terciaria); /* Cor da linha */
    transform: scaleX(0); /* Esconde a linha inicialmente */
    transition: transform 0.3s ease; /* Transição lenta */
    transform-origin: center; /* Define o ponto de origem da transformação */
}

.cabecalho__menu__link:hover::after {
    transform: scaleX(1); /* Exibe a linha ao passar o cursor */
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 6%; 
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo{
    font-size: 1.6rem;
    font-family: "Krona One", sans-serif;
    text-align: justify;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    /* background-color: orangered; */
    border: 2px solid #c5b911;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    color: var(--cor--terciaria);
    font-size: 1.5rem;
    padding: 8px 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__link:hover{
    background-color: #be0a0a;
}

.apresentacao__links__imagem{
    width: 32px;
    height: 32px;
}

.apresentacao__conteudo__texto{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.apresentacao__imagem{
    border-radius: 15px;
    width: 70%;
}

strong{
    color: #c5b911; 
}

.titulo-destaque{
    color: var(--cor--secundaria);
}


*{
    margin: 0;
    padding: 0;
}

.rodape{
    background-color: var(--cor--secundaria);
    color: var(--cor--terciaria);
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

/* estilo pagina sobre mim */

.conteudo__informacoes{
    margin: 5% 25%;
}

.conteudo__informacoes__titulo{
    font-family: "Krona One", sans-serif;
    color: #c5b911;
    margin-top: 4%;
}

.conteudo__informacoes_texto{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: whitesmoke;
    padding: 2% 0;
}

.conteudo__informacoes__item{
    padding: 2%;
}

.apresentacao__imagem{
    width: 50%;
}

@media (max-width: 720px){

    .cabecalho{
        padding: 6%;
        gap: 20px;
        width: auto;        
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }


}